---
---

@import "{{ site.theme }}";

blockquote {
    padding: 0 0 0 3px;
    margin-bottom: 2px;
    font-size: 15px;
    border-left: 1px solid #e6d0d0;
}

blockquote {
    display: block;
    margin-block-start: 1px;
    margin-block-end: 1px;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    margin: 1px 1px 1px 1px;
}

@font-face {
    font-family:NotoSan;
    src:url("font/NotoSansSC-Regular.eot");
	src:
	      url('./font/NotoSansSC-Regular.eot?#font-spider') format('embedded-opentype'),
	      url('./font/NotoSansSC-Regular.woff2') format('woff2'),
	      url('./font/NotoSansSC-Regular.woff') format('woff'),
	      url('./font/NotoSansSC-Regular.ttf') format('truetype'),
	      url('./font/NotoSansSC-Regular.svg') format('svg');
	  font-weight: normal;
	  font-style: normal;
}

* {
    font-family:NotoSan, 'Helvetica Neue', Helvetica, Arial, serif;;
}
