---
---

@import "{{ site.theme }}";

blockquote {
    padding: 0 0 0 3px;
    margin-bottom: 2px;
    font-size: 15px;
    border-left: 1px solid #c12626;
}

blockquote {
    display: block;
    margin-block-start: 1px;
    margin-block-end: 1px;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
}
